<section class="main" id="login-main">

    <h2>{{type}}</h2>


    <form id="login-form" action="{% url type %}" method="post">
        {% csrf_token %}
        <div id="inputs-container">
            <div class="label-input-container">
                <label for="username">Username</label>
                <input maxlength="{{input_restrictions.username_max_length}}" type="text" name="username">
            </div>

            <div class="label-input-container">
                <label for="password">Password</label>
                <div>
                    <input id="password-input" maxlength="{{input_restrictions.password_max_length}}" type="password" name="password">
                    <button onmousedown="document.getElementById('password-input').type = 'text'" 
                    onmouseup="document.getElementById('password-input').type = 'password'" type="button">Show</button>
                </div>
            </div>
        
