{% load tags %}
<div class="post-container">
    <h2 class="post-title">{{post.title}}</h2>
    {% if post.user_id == request.session.user_id %}
    <form class="edit-delete-form" action="{% url 'modify_post' post.post_id %}" method="post">
        {% csrf_token %}
        <button onclick="return window.confirm('Delete Post?')" type="submit" name="option" value="Delete">Delete</button>
        <button type="submit" name="option" value="Edit">Edit</button>
    </form>
    {% endif %}

    <p class="main-description">{{post.main_description}}</p>

    <div class="options-container">
        <div id="option-one" class="options">
            
            <div class="image-container">
                <div class="empty-image-box"></div>
                {% if post.image_one != '' and post.image_one != None %}
                <img class="preview-image" src="{{post.image_one}}">
                {% endif %}  
            </div>     
             
            {% if post.description_one != None %}    
            <p class="description">{{post.description_one}}</p>
            {% endif %}
        </div>

        <div class="border-line"></div>

        <div id="option-two" class="options">
            
            <div class="image-container">
                <div class="empty-image-box"></div>
                {% if post.image_two != '' and post.image_two != None %}
                <img class="preview-image" src="{{post.image_two}}">
                {% endif %}
            </div>
            
            {% if post.description_two != None %}
            <p class="description">{{post.description_two}}</p>
            {% endif %}
        </div>
    </div>

    <div id="bottom-content-container">
        <div id="tags-container">
            {% for tag in post.tags %}
            <span><a href="{% url 'search' %}?tag={{tag}}">{{tag}}</a></span>
            {% endfor %}
        </div>
        <p class="username">{{post.username}}</p>
        {% if show_votes %}
            <form class="votes" action="{% url 'vote' post.post_id %}" method="post">
                {% csrf_token %}
                <button {% if current_vote == '1' %}style="background-color:green;"{% endif %} name="vote_option" type="submit" value="1">{{post.button_one_label}}</button>
                <p class="vote-label">- Vote -</p>
                <button {% if current_vote == '2' %}style="background-color:red;"{% endif %} name="vote_option" type="submit" value="2">{{post.button_two_label}}</button>
            </form>

            <div id="vote-results">
                <p class="total-votes" id="option-one-count">{{post.option_one_votes|percentage_diff:post.option_two_votes}}%</p>
                <div id="result-bar-container">
                    <div id="result-bar-one"></div>
                    <div id="result-bar-two"></div>
                </div>
                <p class="total-votes" id="option-two-count">{{post.option_two_votes|percentage_diff:post.option_one_votes}}%</p>
            </div>
        {% endif %}
        <p class="date-posted">{{post.date_posted}}</p>
    </div>
</div>

<script>

    // set vote bar widths
    window.onload = function() {
        var option_one_votes = parseInt(document.getElementById(`option-one-count`).innerHTML)
        var option_two_votes = parseInt(document.getElementById(`option-two-count`).innerHTML)
        var options = ['one', 'two']

        for (let i = 0; i < options.length; i ++) {
            var bar = document.getElementById(`result-bar-${options[i]}`)
            console.log(eval(`option_two_votes`))
            var bar_width = eval(`option_${options[i]}_votes`) / (option_one_votes + option_two_votes) * 1000
            bar.style.width = `${bar_width}%`
        }

    }

</script>