<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load tags %}
    {% add_login_status_to_context request %}
    <link rel="stylesheet" href="{% static 'App/styles.css' %}">
    <script src="{% static 'App/script.js' %}"></script>
    <title>{{title}}</title>

    <script>
        // Preserve scroll position on reload
    window.onload = function() {
        var scroll_pos = localStorage.getItem('document-scroll-pos')
        window.scrollTo(0,scroll_pos)
    }

    window.onbeforeunload = function() {
        var scroll_pos = window.scrollY
        localStorage.setItem('document-scroll-pos', scroll_pos)
    }
</script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
            {% if not logged_in %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% else %}
            <li><a href="{% url 'create' %}">Create</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <div id="footer-flex-wrapper">
        <footer>
            <p>Page Created by Logan Baxter</p>
            <p>
                <a target="_blank" href="https://github.com/logan9997">Github</a> :
                <a target="_blank" href="https://stackoverflow.com/users/18749472/logan-9997">Stack Overflow</a> :
                <a target="_blank" href="https://leetcode.com/logan9997/">Leetcode</a>
            </p>
            <p>Loganbax101@gmail.com</p>
        </footer>
    </div>
</body>
</html>