{% extends 'App/base.html' %}
{% load tags %}

{% block content %}
<section class="main" id="search-main">
    <form oninput="validate_post_create_input(this)" onsubmit="return_tags()" id="create-post-form" 
    {% if post_id != None %} action="{% url 'create' post_id %}" {% else %} action="{% url 'create' %}" {% endif %}
    method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create-post-section">
            <div id="title-container">
                <label for="title">Title *</label>
                <input value="{{edit_post_values.title}}" required maxlength="{{input_restrictions.title_max_length}}" onfocus="remove_placeholder_text(this)" 
                id="title-input" type="text" name="title">
            </div>
        </div>

        <div id="main-description-container" class="create-post-section">
            <label for="main-description">Main Description *</label>
            <textarea required class="description-input" name="main_description" maxlength="{{input_restrictions.main_description_max_length}}">{{edit_post_values.main_description}}</textarea>
        </div>

        <input type="hidden" name="remove_image_one" id="remove_image_one">
        <input type="hidden" name="remove_image_two" id="remove_image_two">


        <div id="images-descriptions-container" class="create-post-section">
            {% with 'one two' as list %}
            {% for option in list.split %}
            <div id="option-{{option}}" class="image-description-contianer">

                <div class="image-buttons-container">
                    <input accept="image/*" oninput="
                    preview_uploaded_image(event, '{{option}}'), 
                    show_remove_image_button('{{option}}')"
                    id="image-{{option}}-input" type="file" name="image_{{option}}">
                    <label onclick="click_file_input('{{option}}')" class="upload-image-label" for="image_{{option}}">Upload Image</label>
                    <button
                        class="remove-image-button" id="remove-image-{{option}}-button" 
                        onclick="
                            change_element_display(`remove-image-{{option}}-button`, 'none'), 
                            remove_element_attribute(`image-{{option}}-preview`, 'src'),
                            remove_element_attribute(`image-{{option}}-input`, 'value'),
                            change_element_value('{{option}}')" 
                        type="button">Remove Image
                    </button>
                </div>

                <div class="image-container">
                    <div class="empty-image-box"></div>
                    {% with image_value='image_'|add:option %}
                    <img src="{{edit_post_values|get:image_value}}" class="preview-image" id="image-{{option}}-preview">
                    {% endwith %}
                </div>

                <div class="description-container">
                    <label for="description_{{option}}">Description {{option}}</label>
                    {% with sub_description='description_'|add:option %}
                    <textarea maxlength="{{input_restrictions.description_max_length}}" 
                    class="description-input" name="description_{{option}}">{{edit_post_values|get:sub_description|add:''}}</textarea>
                    {% endwith %}
                </div>

            </div>
            {% endfor %}
            {% endwith %}
        </div>

        <div id="button-labels-container">
            <label for="button_one_label">Button One Label</label>
            <input type="text" name="button_one_label" class="button-label">
            <label for="button_two_label">Button Two Label</label>
            <input type="text" name="button_two_label" class="button-label">
        </div>

        <div id="tags-container" class="create-post-section">
            <div id="tags-input-container">
                <label for="tags">Tags *</label>
                <input maxlength="{{input_restrictions.tag_max_length}}" oninput="seperate_tags(this)" 
                id="tags-input" type="text" name="tags" placeholder="(Seperate tags with commas, eg : 'sport,')">
            </div>
            {% if edit_post_values.tags != None %}
                {{ edit_post_values.tags|json_script:'edit-tags' }}
            {% endif %}
            <div id="created-tags"></div>
        </div>

        <div class="create-post-section">
            <input disabled id="submit-post" type="submit" value="Post!">
            <p id="create-post-error-msg"></p>
        </div>
    </form>

</section>

<script>
    window.onload = function() {
        var edit_tags = JSON.parse(document.getElementById('edit-tags').textContent)
        edit_tags = edit_tags.split(', ')
        console.log(edit_tags)
        for (let i = 0; i < edit_tags.length; i ++) {
            create_tag(edit_tags[i])
        }
    validate_post_create_input(document.getElementById('create-post-form'))

    const options = ['one', 'two']
    for (let i = 0; i < 2; i ++) {
    if (document.getElementById(`image-${options[i]}-preview`).src != null)
        show_remove_image_button(options[i])
        }
    }
    
</script>
{% endblock %}