{% extends 'App/base.html' %}

{% block content %}
<section class="main" id="login-main">

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input maxlength="{{input_restrictions.username_max_length}}" type="text" name="username">
        <input maxlength="{{input_restrictions.password_max_length}}" type="password" name="password">
        <input type="submit" value="Login!">
    </form>

    <div id="login-error-msg-container">
        <p id="login-error-msg">{{login_error_msg}}</p>
    </div>

</section>
{% endblock %}