{% extends 'App/base.html' %}

{% block content %}

<section class="main" id="post-main">

    {% include 'App/templateblocks/post_container.html' with show_votes=True %}

    <section id="comments-main-container">
        <h2 id="comments-header">Comments</h2>
        <div id="create-comment-container">
            <h3>Create Comment</h3>
            <form id="new-comment-form" action="{% url 'comment' post.post_id %}" method="POST">
                {% csrf_token %}
                <textarea name="comment"></textarea>
                <input type="submit" value="Post!">
            </form>
        </div>

        <div id="comments"> 
            {% for comment in comments %}
                {% include 'App/templateblocks/comment_container.html' with show_vote_form=True %}
            {% endfor %}
        </div>
    </section>

    {% if vote_error_msg != None %}
    {{ vote_error_msg|json_script:'vote-error-msg' }}
    <script>
        window.alert(JSON.parse(document.getElementById('vote-error-msg').textContent))
    </script>
    {% endif %}

</section>
{% endblock %}