{% extends 'App/base.html' %}

{% block content %}
{% load tags %}
<section class="main" id="search-main">

    {% get_tags_list as tags_list %}
        {{ tags_list|json_script:'tags-list' }}

    {{ MAX_SEARCH_SUGGESTIONS|json_script:'max-search-suggestions' }}

    {% if pages|length > 1 %}
    <form id="pages-form" action="{% url 'pages' %}" method="GET">
        {% for page in pages %}
        <button {% if current_page == page %} style="background-color: green;"{% endif %} type="submit" name="page" value="{{page}}">{{page}}</button>
        {% endfor %}
    </form>
    {% endif %}

    <div id="search-main-container">
        <form id="tags-search-form" action="{% url 'search' %}" method="GET">
            <input oninput="search_suggestions()" onfocus="change_element_display('search-suggestions-container', 'block')" 
            id="tags-search" type="text" name="tag" placeholder="Search For Tags">
        </form>

        <div id="search-suggestions-container"></div>
    </div>

    {% if searched_tag != '%' %}
    <button id="remove-tag-button" onclick="remove_tag_param()">X {{searched_tag}}</button>
    {% endif %}

    {% if posts|length != 0 %}
    <div id="trending-questions">
        <h2 id="trending-questions-title">Trending Questions!</h2>
        <div id="posts-container">
            {% for post in posts %}
                {% include 'App/templateblocks/post_preview.html' %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div id="no-posts-container">
        <p>No posts for {{request.GET.tag}}</p>
    </div>
    {% endif %}

</section>
{% endblock %}