{% extends 'App/base.html' %}

{% block content %}

    {% include 'App/templateblocks/login_signup.html' with type='signup' %}
        <div class="label-input-container">
            <label for="confirm_password">Confirm Password <span>(Max Chars : {{input_restrictions.password_max_length}})</span></label>
            <div>
                <input id="confirm-password-input" maxlength="{{input_restrictions.password_max_length}}" type="password" name="confirm_password">
                <button onmousedown="document.getElementById('confirm-password-input').type = 'text'" 
                onmouseup="document.getElementById('confirm-password-input').type = 'password'" type="button">Show</button>
            </div>
        </div>
        
        </div>
        <input type="submit" value="Sign Up!">
    </form>

        <div id="password-requirements">
            {% for req in password_requirements %}
            <span>{{req}}</span>
            {% endfor %}
        </div>

        <p id="login-error-msg">{{signup_error_msg}}</p>

</section>
{% endblock %}