{% extends 'App/base.html' %}

{% block content %}
<section class="main" id="signup-main">

    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <input maxlength="{{input_restrictions.username_max_length}}" type="text" name="username">
        <input maxlength="{{input_restrictions.password_max_length}}" type="password" name="password">
        <input maxlength="{{input_restrictions.password_max_length}}" type="password" name="confirm_password">
        <input type="submit" value="Sign Up!">
    </form>

    <div id="signup-error-msg-container">
        <p id="signup-error-msg">{{signup_error_msg}}</p>
    </div>

</section>
{% endblock %}